/* Resetting default styles for body and html */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(8, 37, 92, 0.698);
}

/* General styles for body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Container styles */
.container {
  height: 90vh;
  display: flex;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #1d5da2;
  color: #f0f7ff;
  padding: 10px;
}

/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d5da2;
  color: #f0f7ff;
  padding: 10px;
}

/* Vertical text styles */
.vertical {
  height: 55vh;
  padding: auto;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

/* Main content styles */
main {
  display: flex;
  flex: 1;
  padding: 25px;
  border: 4px solid #244c9b86;
}

/* Sidebar styles */
.sidebarL, .sidebarR {
  line-height: 40px;
  min-width: 100px;
  max-width: 25%;
  flex: 1; 
  background-color: #19a2baad;
  padding: 20px;
  border: 3px solid #244c9b86;
  border-radius: 10px;
}

.sidebarR {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 20%;
}

/* Email container styles */
.emailContainer {
  height: 60vh;
  flex: 2;
  max-width: 70%;
  margin: 100px;
  display: flex;
  justify-content: center;
  background-color: #1d5da2;
  border: 3px solid #244c9b86;
  border-radius: 10px;
  overflow: auto;
}

/* Checkbox styles */
#checkbox {
  cursor: pointer;
}

/* Email list styles */
.emailList {
  width: 600px;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  cursor: pointer;
}

/* Gmail styles */
.gmail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  font-size: 40px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Button styles */
button {
  background-color: #278798ad; 
  color: #f3e8e8; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color
